{% extends 'administration/index.html' %}
{% load static %}
{% block body %}

<div id="inner_banner" class="inner_banner_section" style="margin-top:5%">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title">Bidder Details</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Bidder Information</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Name:</strong> {{ data.user.first_name }} {{ data.user.last_name }}</p>
                            <p><strong>Username:</strong> {{ data.user.username }}</p>
                            <p><strong>Email:</strong> {{ data.user.email }}</p>
                            <p><strong>Contact:</strong> {{ data.contact }}</p>
                            <p><strong>User Type:</strong> {{ data.user_type }}</p>
                            <p><strong>Status:</strong> {{ data.status }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Date of Birth:</strong> {{ data.dob }}</p>
                            <p><strong>Address:</strong> {{ data.address }}</p>
                            <p><strong>Registration Date:</strong> {{ data.created }}</p>
                            {% if data.image %}
                            <p><strong>Profile Image:</strong></p>
                            <img src="{{ data.image.url }}" style="width:150px;height:150px">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}